:root {
	--size: 8rem;
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #110000;
	font-size: 0;
}

.solar-system {
	position: relative;
	top: 50%;
	transform: translateY(-50%) translateX(50%);
	width: calc(5 * var(--size));
}

.celestial-object {
	display: inline-block;
	position: relative;
}

.sun {
	vertical-align: middle;
	background-color: orange;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

.earth-system {
	vertical-align: middle;
	width: auto;
	left: calc(1.25 * var(--size));
	font-size: 0;
}

.earth {
	background-color: blue;
	width: calc(var(--size) / 8);
	height: calc(var(--size) / 8);
	border-radius: 50%;
}

.earth-rotation {
	transform-origin: calc(-7 / 4 * var(--size)) 0;
	animation-duration: 8s;
}

.moon {
	background-color: gray;
	height: calc(var(--size) / 16);
	width: calc(var(--size) / 16);
	border-radius: 50%;
	left: calc(var(--size) / 16);
}

.moon-rotation {
	transform-origin: calc(-1 / 8 * var(--size)) 0;
	animation-duration: 3s;
}

.rotation {
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-play-state: running;
}

.paused-animation {
	animation-play-state: paused;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
